//global

$border_radius: 10px;
$text_color_primary: #fff;
$bg_color_buttons: #3498db;
$spinner_border_color: #f3f3f3;
$main_title_color: #0070f3;

//footer
$footer_border: #eaeaea;

//alerts colors
$alert_color: #fff;
$alert_color_success: #4caf50;
$alert_color_error: #f04336;
